In [25]:
import pandas as pd

In [26]:
db = pd.read_csv('./data/destinasiWisata.csv')

In [27]:
db.head()

,place_name,description,category,city,price,rating_avg,coordinate,latitude,longitude,rating_count,distance_km
0,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000.0,0,"{'lat': -6.1753924, 'lng': 106.8271528}",-61753924.0,1.068272e+09,0,3047.009665
1,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0.0,0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-61376448.0,1.068171e+09,0,14795.470616
2,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000.0,0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-61253124.0,1.068335e+09,0,8240.165203
3,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000.0,0,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-63024459.0,1.068952e+09,0,7918.929941
4,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000.0,0,"{'lat': -6.12419, 'lng': 106.839134}",-612419.0,1.068391e+08,0,16127.056024

In [28]:
db['rating_avg'] = db['rating_avg'].astype(float)

In [29]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   place_name    512 non-null    object
 1   description   512 non-null    object
 2   category      512 non-null    object
 3   city          512 non-null    object
 4   price         512 non-null    float64
 5   rating_avg    512 non-null    float64
 6   coordinate    512 non-null    object
 7   latitude      512 non-null    float64
 8   longitude     512 non-null    float64
 9   rating_count  512 non-null    int64
 10  distance_km   512 non-null    float64
dtypes: float64(5), int64(1), object(5)
memory usage: 44.1+ KB

In [30]:
db.drop(columns='distance_km', inplace=True)

In [31]:
db.columns

Index(['place_name', 'description', 'category', 'city', 'price', 'rating_avg',
       'coordinate', 'latitude', 'longitude', 'rating_count'],
      dtype='object')

In [32]:
db.to_csv('./data/destinasiDB.csv', index=False)

In [33]:
db.shape

(512, 10)